*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::selection{
    background: rgb(0,123,255,0.3);
}

body {
    padding-bottom: 200px;
}

/* FORM */
.form {
    justify-content: center;
    width: auto;
}

.container .logo{
    width: 33vh;
    margin: auto;
    margin-top: 10vh;
}

.login {
    padding: 10px 0px;
    max-width: 400px;
    border-radius: 10px;
    margin-top: 50px;
}

.login, .register {
    display: flex;
    flex-direction: column;
    align-items: inherit;
    padding: 10px;
}

.login a,.register a {
    font-weight: 600;
    text-decoration: none;
    color: #1b1a69;
}

.login input,.register input {
    font-size: 30px;
    box-sizing: border-box;
    border: 3px solid #e2dede;
    border-radius: 2px;
    padding: 0.625rem 0.9375rem;
    margin-bottom: 10px;
    background-color: #e2dede;
    transition: 0.5s;
    outline: none;
  }

.login input:focus,.register input:focus{
    border: 3px solid #1b1a69;
}

.container button {
    font-size: 30px;
    border: 1px solid;
    border-radius: 5px;
    background-color:#1b1a69;
    transition:  800ms ease-out;
    color: rgb(247, 247, 247);
    cursor: pointer;
    justify-content: center;
}
  .container button:hover,.container button:active{
    background-color: rgb(255, 255, 255);
    color: #1b1a69;
    transition:  200ms ease-in;
}

.register {
    display: none;
}

.container .message {
    font-size: 25px;
}

.message a{
    font-weight: 700;
}

/* Information container */
#bulbIcon {
    font-size: 50px;
    color: white;
}

.info {
    width: 60vh;
    text-align: center;
    margin: auto;
    margin-top: 350px;
}

.infoContent {
    color: #1b1a69;
    font-size: 30px;
    max-width: 1250px;
    margin: auto;
    padding: auto; 
}

.infoContent h1 {
    font-size: 50px;
}

/* ! Button auto scroll down */
.scrollBtn {
    background:transparent;
    border:none;
    outline:none;
    display:block;
    cursor:pointer;
}

ion-icon {
    position: absolute;
    color: #1b1a69;
    font-size: 50px;
    cursor: pointer;
    top: 25px;
    right: 20px;
}

@media (max-width: 1230px) {
    .infocontent{
      padding: 0 60px;
    }
  }
  @media (max-width: 1100px) {
    .infocontent{
      padding: 0 40px;
    }
  }
  @media (max-width: 900px) {
    .infocontent{
      padding: 0 30px;
    }
  }